.goal-setting-wrapper {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
}

.goal-setting-card {
    width: 470px;
    margin: 250px 0;
    padding: 30px 20px;
    gap: 50px;
    background: #fff;
    text-align: center;
}

.goal-setting-title {
    font-family: 'Hiragino Kaku Gothic Pro', serif;
    font-size: 30px;
    font-weight: 600;
    color: #333333;
    margin-top: 0;
}

.goal-setting-input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.goal-setting-input {
    width: 400px;
    height: 43px;
    border: 1px solid #E0DFDE;
    padding: 11px 10px;
    gap: 10px;
    border-radius: 5px;
    font-family: 'Hiragino Kaku Gothic Pro', serif;
    font-weight: 300;
    font-size: 14px;
    color: #333333;
}

.goal-setting-unit {
    font-family: 'Hiragino Kaku Gothic Pro', serif;
    font-weight: 300;
    font-size: 16px;
    color: #333333;
}

.goal-setting-error {
    color: #F65A5A;
    font-family: 'Hiragino Kaku Gothic Pro', serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: 8px;
}

.goal-setting-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.btn-back,
.btn-update {
    width: 200px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-back {
    background: #E0DFDE;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Hiragino Kaku Gothic Pro', serif;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
}

.btn-update {
    border: none;
    font-family: 'Hiragino Kaku Gothic Pro', serif;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    background: linear-gradient(to right, #A3A6E1, #FFABD9);
}