.login-page {
    max-width: 1512px;
    width: 100%;
    max-height: 982px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #c7d2ff 0%, #ffd6e6 50%, #ffb3d1 100%);
}

.login-card {
    width: 580px;
    background: #FFFFFF;
    border-radius: 24px;
    gap: 20px;
    text-align: center;
    margin: 160px 0;
    padding: 0 35px 15px 35px;
}

.login-logo {
    font-family: 'Lora', serif;
    font-size: 60px;
    font-weight: 400;
    color: #EC87EF;
    margin-bottom: 5px;
}

.login-title {
    font-family: 'Hiragino Mincho Pro', serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    color: #333333;
}

.form-group {
    text-align: left;
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    font-family: 'Hiragino Kaku Gothic Pro', serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.form-group input {
    width: 100%;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 14px;
}

input::placeholder {
    font-family: 'Hiragino Kaku Gothic Pro', serif;
    font-weight: 300;
    font-size: 14px;
    color: #CDCDCD;
}

.error {
    font-family: 'Hiragino Kaku Gothic Pro', serif;
    font-weight: 300;
    font-size: 12px;
    color: #F65A5A;
}

.login-btn {
    width: 200px;
    height: 36px;
    border: none;
    border-radius: 8px;
    margin: 15px auto 0;
    margin-top: 20px;
    display: block;

    color: #fff;
    font-family: 'Hiragino Kaku Gothic Pro', serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;

    background: linear-gradient(90deg, #A3A6E1, #FFABD9);
}

.register-link {
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Hiragino Mincho Pro', serif;
    font-weight: 300;
    font-size: 12px;
    color: #2C99FF;
    text-decoration: underline;
}