.auth-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px 20px;
    background: linear-gradient(135deg, #c9c6ff 0%, #ffd6e7 50%, #ffb0c8 100%);
}

.auth-card {
    width: 580px;
    background: #FFFFFF;
    border-radius: 24px;
    padding: 40px;
    gap: 30px;
    text-align: center;
}

.logo {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0.1em;
    color: #EC87EF;
    margin: 0;
}

.title {
    font-family: 'Hiragino Mincho Pro', serif;
    font-weight: 300;
    margin: 6px 0 0;
    font-size: 30px;
    letter-spacing: 0.1em;
    color: #333333;
}

.step {
    font-family: 'Hiragino Kaku Gothic Pro', serif;
    font-weight: 300;
    margin: 18px 0 26px;
    font-size: 16px;
    color: #333333;
}

.form-group {
    text-align: left;
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    font-family: 'Hiragino Kaku Gothic Pro', serif;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
    margin-bottom: 6px;
}

.form-group input {
    width: 100%;
    height: 40px;
    border: 1px solid #E0DFDE;
    border-radius: 6px;
    padding: 0 12px;
    font-family: 'Hiragino Kaku Gothic Pro', serif;
    font-weight: 300;
    font-size: 14px;
    outline: none;
}

input::placeholder {
    font-family: 'Hiragino Kaku Gothic Pro' ,serif;
    font-weight: 300;
    font-size: 14px;
    color: #CDCDCD;
}

.form-group input:focus {
    border-color: #f39ac7;
}

.error {
    margin-top: 6px;
    font-family: 'Hiragino Kaku Gothic Pro', serif;
    font-weight: 300;
    font-size: 12px;
    color: #F65A5A;
}

.btn-next {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 12px;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(90deg, #A3A6E1 0%, #FFABD9 100%);
}

.login-link-wrap {
    margin-top: 16px;
    text-align: center;
}

.login-link {
    border: none;
    font-family: 'Hiragino Mincho Pro', serif;
    font-weight: 300;
    font-size: 16px;
    color: #2C99FF;
    text-decoration: none;
    outline: none;
}

.login-link:focus,
.login-link:active {
    outline: none;
}

body {
    background: red !important;
}